body {
  min-height: 100vh;
  background: #2596ee;
  color: #111;
}

.notes {
    padding: 30px;
    color: #fff;
    position: fixed;
}

.valign-wrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.valign-content {
  background: white;
  padding: 80px;
  text-align: center;
  min-width: 600px;
  border-radius: 8px;
  box-shadow: 12px 12px 0 rgba(0,0,0,0.15);
}

.helptext {
  display: none;
}

